@page "/events"
@using DiscGolfBlazorUi.Services
@inject DiscGolfService EventService

<h3>Disc Golf Events</h3>

@if (events == null)
{
    <p>Ładowanie...</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>PDGA</th>
                <th>Tytuł</th>
                <th>Region</th>
                <th>Rejestracja</th>
                <th>Miejsca</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ev in events)
            {
                <tr>
                    <td>@ev.Pdga</td>
                    <td>@ev.TournamentTitle</td>
                    <td>@ev.Region</td>
                    <td>@ev.Registration</td>
                    <td>@ev.Vacancies</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<DiscGolfEvent>? events;

    protected override async Task OnInitializedAsync()
    {
        events = await EventService.GetEventsAsync();
    }
}